@import "tailwindcss";

@font-face {
  font-family: 'ITC Anna';
  src: url('./fonts/ITC Anna Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-serif: "Cormorant Garamond", Georgia, serif;
  --font-sans: "DM Sans", system-ui, sans-serif;
  
  --color-gold: #B8935A;
  --color-warm-grey: #F4F4F2;
  --color-mid-grey: #9A9A9A;
  --color-dark-charcoal: #1C1C1C;
  --color-pure-black: #0A0A0A;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
